# Mac OS X files
.DS_Store

# Vim temp files
*.swp
.netrwhist

# Vim custom snippets and persistent undo folder
vim/snippets
vim/undo

# Vimperator info/history/local settings
vimperator/info

# Irssi config files
irssi/config
irssi/config.autosave
irssi/*.theme
