[submodule "zsh/oh-my-zsh"]
  path = zsh/oh-my-zsh
  url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "tmux/tmux-colors-solarized"]
  path = tmux/tmux-colors-solarized
  url = https://github.com/seebi/tmux-colors-solarized.git
[submodule "powerline/powerline"]
  path = powerline/powerline
  url = https://github.com/Lokaltog/powerline.git
[submodule "mongo/mongo-hacker"]
  path = mongo/mongo-hacker
  url = https://github.com/TylerBrock/mongo-hacker.git
[submodule "powerline/rainbarf"]
  path = powerline/rainbarf
  url = https://github.com/creaktive/rainbarf.git
[submodule "vim/spf13-vim"]
	path = vim/spf13-vim
	url = https://github.com/spf13/spf13-vim.git
