# Vim plugin
vim/.netrwhist
vim/autoload/plug.vim.old
vim/current-colour
vim/init.vim
vim/plugged
vim/spell
vim/use-solarized-palette

# Vimperator info/history/local settings
vimperator/info

# Irssi config files
irssi/*.theme
irssi/config*
