# useful for debugging arrays
snippet ppre
	print_r('<pre>'); print_r($${1:check_variable}); exit;
snippet vardump
	var_dump($${1:check_variable}); exit;
snippet plog
	Logger::debug('${1:description} ' . print_r($${2:variable}, true);
